@using MauiApp4.Data
<div class="d-flex justify-content-between flex-row py-4 px-4 pt-4">
    <div d-flex flex-column>
        <Time />
        <Inspector />
    </div>
    <div d-flex flex-column>
        <Explanation />
        <Machine />
    </div>
    


</div>


