@inherits LayoutComponentBase

<div class="page d-flex flex-column">
     <div class=" py-3 px-3">
        <Header />
    </div>
    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="py-3 px-3">
        <Footer/>
    </div>
</div>
